<div class="timeline-header">

  <h2>
    {{ item.role | default: item.title | default: item.name }}
  </h2>

  {% if item.organization %}
    <div class="timeline-meta">{{ item.organization }}</div>
  {% endif %}

  {% if include.item.location %}
    <p>{{ include.item.location }}</p>
  {% endif %}

  <span class="timeline-period">
    {{ include.item.start }}
    {% if include.item.finish and include.item.finish != include.item.start %}
      – {{ include.item.finish }}
    {% endif %}
  
    {% if include.item.image %}
      <img src="{{ include.item.image }}" alt="{{ include.item.name }}"
           style="width:100%; margin:1rem 0; border-radius:8px;">
    {% endif %}
  </span>
  
  {% if include.item.domain %}
    <p><strong>{{ include.item.domain }}</strong></p>
    <!-- <p><light>{{ include.item.domain }}</light></p> -->
  {% endif %}
  
</div>



<div class="timeline-item" data-domain="{{ include.item.domain | downcase }}">


  <span class="flex-col">
    {% if include.item.issuer %}
      <p><strong>Issuer: </strong>{{ include.item.issuer }}</p>
    {% endif %}
    
    {% if include.item.institution %}
      <p><strong>{{ include.item.institution }}</strong></p>
    {% endif %}
  </span>

  {% if include.item.type %}
    <p><strong>Type:</strong> {{ include.item.type }}</p>
  {% endif %}

  {% if include.item.summary %}
    <p>{{ include.item.summary }}</p>
  {% endif %}

  {% if include.item.problem %}
    <p><strong>Problem:</strong> {{ include.item.problem }}</p>
  {% endif %}

  {% if include.item.solution %}
    <p><strong>Solution:</strong> {{ include.item.solution }}</p>
  {% endif %}

  {% if include.item.outcome %}
    <p><strong>Outcome:</strong> {{ include.item.outcome }}</p>
  {% endif %}

  {% if include.item.description %}
    <p>{{ include.item.description }}</p>
  {% endif %}
  
  {% if include.item.technologies %}
    <strong>Technologies:</strong>
  {% endif %}
  
  {% if include.item.technologies %}
    <ul>
      {% for t in include.item.technologies %}
        <li>{{ t }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  
  {% if include.item.focus %}
    <ul>
      {% for f in include.item.focus %}
        <li>{{ f }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  {% if include.item.highlights %}
    <strong>Highlights:</strong>
  {% endif %}
  
  {% if include.item.highlights %}
    <ul>
      {% for h in include.item.highlights %}
        <li>{{ h }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<div>
  <br>
  <span>
    
  </span>
</div>
