<div class="timeline-header">
  <!-- <span class="timeline-period">
    {{ item.start }}{% if item.finish %} – {{ item.finish }}{% endif %}
  </span> -->
  
  <h2>
    {{ item.role | default: item.title | default: item.name }}
  </h2>

  {% if item.organization %}
    <div class="timeline-meta">{{ item.organization }}</div>
  {% endif %}
</div>



<div class="timeline-item" data-domain="{{ include.item.domain | downcase }}">
  <span class="timeline-period">
    {{ include.item.start }}
    {% if include.item.finish and include.item.finish != include.item.start %}
      – {{ include.item.finish }}
    {% endif %}
    {% if include.item.image %}
      <img src="{{ include.item.image }}" alt="{{ include.item.name }}"
           style="width:100%; margin:1rem 0; border-radius:8px;">
    {% endif %}
  </span>

  <!-- <h2>
    {% if include.item.role %}
      {{ include.item.role }}
    {% elsif include.item.title %}
      {{ include.item.title }}
    {% elsif include.item.name %}
      {{ include.item.name }}
    {% endif %}
  </h2> -->

  <!-- {% if include.item.organization or include.item.institution %}
    <div class="timeline-meta">
      {{ include.item.organization }}{{ include.item.institution }}
    </div>
  {% endif %} -->


  {% if include.item.domain %}
    <p><strong>Domain:</strong> {{ include.item.domain }}</p>
  {% endif %}

  {% if include.item.type %}
    <p><strong>Type:</strong> {{ include.item.type }}</p>
  {% endif %}
  
  {% if include.item.institution %}
    <p><strong>{{ include.item.institution }}</strong></p>
  {% endif %}

  {% if include.item.location %}
    <p>{{ include.item.location }}</p>
  {% endif %}
  
  {% if include.item.summary %}
    <p>{{ include.item.summary }}</p>
  {% endif %}

  {% if include.item.problem %}
    <p><strong>Problem:</strong> {{ include.item.problem }}</p>
  {% endif %}

  {% if include.item.solution %}
    <p><strong>Solution:</strong> {{ include.item.solution }}</p>
  {% endif %}

  {% if include.item.outcome %}
    <p><strong>Outcome:</strong> {{ include.item.outcome }}</p>
  {% endif %}

  {% if include.item.description %}
    <p>{{ include.item.description }}</p>
  {% endif %}

  {% if include.item.technologies %}
    <p><strong>Technologies:</strong>{{ include.item.technologies }}</p>
  {% endif %}
  
  {% if include.item.highlights %}
    <p><strong>Highlights:</strong>{{ include.item.highlights }}</p>
  {% endif %}

  {% if include.item.highlights %}
    <ul>
      {% for h in include.item.highlights %}
        <li>{{ h }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
