<div class="timeline-item" data-domain="{{ include.item.domain | downcase }}">
  <span class="timeline-period">
    {{ include.item.start }}
    {% if include.item.finish and include.item.finish != include.item.start %}
      – {{ include.item.finish }}
    {% endif %}
  </span>

  <h2>
    {% if include.item.role %}
      {{ include.item.role }}
    {% elsif include.item.title %}
      {{ include.item.title }}
    {% elsif include.item.name %}
      {{ include.item.name }}
    {% endif %}
  </h2>

  {% if include.item.organization or include.item.institution %}
    <div class="timeline-meta">
      {{ include.item.organization }}{{ include.item.institution }}
    </div>
  {% endif %}


  {% if include.item.institution %}
    <p><strong>{{ include.item.institution }}</strong></p>
  {% endif %}

  {% if include.item.summary %}
    <p>{{ include.item.summary }}</p>
  {% endif %}

  {% if include.item.problem %}
    <p><strong>Problem:</strong> {{ include.item.problem }}</p>
  {% endif %}

  {% if include.item.solution %}
    <p><strong>Solution:</strong> {{ include.item.solution }}</p>
  {% endif %}

  {% if include.item.outcome %}
    <p><strong>Outcome:</strong> {{ include.item.outcome }}</p>
  {% endif %}

  {% if include.item.highlights %}
    <ul>
      {% for h in include.item.highlights %}
        <li>{{ h }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
