---
layout: default
---

<section>
  <h1 class="flex">{{ page.title }}</h1>

  {% case page.data_source %}
    {% when "work" %}{% assign items = site.data.work %}
    {% when "education" %}{% assign items = site.data.education %}
    {% when "publications" %}{% assign items = site.data.publications %}
    {% when "projects" %}{% assign items = site.data.projects %}
    {% when "hobbies" %}{% assign items = site.data.hobbies %}
    {% when "certifications" %}{% assign items = site.data.certifications %}
    {% when "affiliations" %}{% assign items = site.data.affiliations %}
    {% when "patents" %}{% assign items = site.data.patents %}

  {% endcase %}

  {% if items %}
    {% assign items = items | sort: "start" | reverse %}
    <div class="timeline">
      <section>
      {% for item in items %}
        {% include timeline-item.html item=item %}
      {% endfor %}
    </div>
  {% endif %}
</section>
